.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    top: 3rem;
    left: 0;
    background-color: rgba(
        0,
        0,
        0,
        0.3
    ); /*this sets the slightly see-through black*/
    z-index: 100; /*Make this less than the existing popup div*/
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
}

.popup-container {
    display: flex;
    flex-direction: column;
    background-color: #414042;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 40rem;
    height: 38rem;
    color: white;
    border-radius: 5rem;
}

.close {
    position: absolute;
    right: 7%;
    top: 1%;
    font-size: 1.5rem;
    cursor: default;
}

.estatisticas-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-start;
    font-size: 0.7rem;
}

.estatistica {
    width: 25%;
}

.setup {
    margin-top: 2rem;
    font-size: 1.9rem;
    max-width: 100%;
    padding: 2rem;
}

.punchline {
    margin-bottom: 5.5rem;
    font-size: 1.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.countdown {
    justify-self: flex-end;
    margin-bottom: 0.5rem;
}

.countdown-span {
    font-size: 3rem;
}

.proximo {
    font-size: 1.5rem;
}
