.header-container{
    color: white;
    display: flex;
    flex-direction: row;
    width:100%;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

.botoes-dificuldade{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.botao-dificuldade{
    font-size: 1.3rem;
    
}

.header-titulo{
    width:40%;
    font-weight: bold;
}



.container-direita{
    width:30%;
}