.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    top: 4.75rem;
    left: 0;
    background-color: rgba(
        0,
        0,
        0,
        0.3
    ); /*this sets the slightly see-through black*/
    z-index: 100; /*Make this less than the existing popup div*/
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
}

.popup-container {
    background-color: #414042;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 800px;
    color: white;
    border-radius: 5rem;
}

.close {
    position: absolute;
    right: 7%;
    top: 1%;
    font-size: 2.5rem;
    cursor: default;
}

.estatisticas-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-start;
}

.estatistica {
    width: 25%;
}

.setup {
    margin-top: 5rem;
    font-size: 3rem;
    max-width: 100%;
    padding: 2rem;
}

.punchline {
    padding: 2rem;
}
