.header-container {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3rem;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    background-color: #009491;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.23), 0 6px 6px rgba(0, 0, 0, 0.27);
    padding: 0;
}

.botoes-dificuldade {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.botao-dificuldade {
    font-size: 0.9rem;
    cursor: pointer;
    color: rgba(217, 217, 217, 0.815);
}

.header-titulo {
    width: 40%;
    font-weight: bold;
    font-size: 1.5rem;
}

.container-direita {
    display: flex;
    justify-content: end;
    width: 30%;
}

.by {
    color: rgba(217, 217, 217, 0.815);
    font-size: 0.9rem;
    margin-right: 1rem;
}
